In [1]:
import pandas as pd

In [2]:
# Enrichment criteria: adjusted p-value < 0.05

# Cluster 0

In [3]:
vol = pd.read_csv('c0_label_positions_AD_ICD10.csv')
upset = pd.read_csv('upset_df_AD_diagnosis_ICDfull_positive.csv')

In [4]:
cluster = pd.merge(vol, upset, left_on="Label", right_on="ICD", how="inner")

In [5]:
drop_col = ['ICD','Unnamed: 0']

In [6]:
cluster = cluster.drop(drop_col, axis=1)

In [7]:
c0 = cluster[(cluster['c0'] == True) & (cluster['c1'] == False) & (cluster['c2'] == False) & (cluster['c3'] == False) & (cluster['c4'] == False)]

In [8]:
c0

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4
35,Z00.6,0.879144,5.925738,0,NaN,True,False,False,False,False
1165,G31.01,3.742869,12.970564,1,Frontotemporal dementia,True,False,False,False,False

In [9]:
c0_top10 = c0.sort_values(by=['X', 'Y'], ascending=[False, False]).head(10)

In [10]:
c0_top10

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4
1165,G31.01,3.742869,12.970564,1,Frontotemporal dementia,True,False,False,False,False
35,Z00.6,0.879144,5.925738,0,NaN,True,False,False,False,False

# Cluster 1

In [49]:
vol = pd.read_csv('c1_label_positions_AD_ICD10.csv')
upset = pd.read_csv('upset_df_AD_diagnosis_ICDfull_positive.csv')

In [51]:
vol[vol['Label']=='H11.15']

Empty DataFrame
Columns: [Label, X, Y, flag, mapping]
Index: []

In [12]:
cluster = pd.merge(vol, upset, left_on="Label", right_on="ICD", how="inner")

In [13]:
drop_col = ['ICD','Unnamed: 0']

In [14]:
cluster = cluster.drop(drop_col, axis=1)

In [15]:
c1 = cluster[(cluster['c1'] == True) & (cluster['c0'] == False) & (cluster['c2'] == False) & (cluster['c3'] == False) & (cluster['c4'] == False)]

In [16]:
c1

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4
222,H54.7,2.940442,54.129691,0,NaN,False,True,False,False,False
329,R23.8,4.285855,92.455239,0,NaN,False,True,False,False,False
390,M79.606,5.149948,119.199469,0,NaN,False,True,False,False,False
401,Z01.30,5.879005,144.433033,0,NaN,False,True,False,False,False
405,R20.0,4.176091,75.792985,0,NaN,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1908,Z80.52,7.830766,5.633614,0,NaN,False,True,False,False,False
1909,K55.069,7.830766,5.633614,0,NaN,False,True,False,False,False
1910,S22.43XD,7.830766,5.633614,0,NaN,False,True,False,False,False
1911,G57.91,7.830766,5.633614,0,NaN,False,True,False,False,False
1912,H02.59,7.830766,5.633614,0,NaN,False,True,False,False,False

In [17]:
c1_top10 = c1.sort_values(by=['X', 'Y'], ascending=[False, False]).head(10)

In [18]:
c1_top10

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4
1856,Y92.008,7.830766,8.458123,0,NaN,False,True,False,False,False
1865,Z87.310,7.830766,8.458123,0,NaN,False,True,False,False,False
1874,Z48.22,7.830766,7.045224,0,NaN,False,True,False,False,False
1879,S42.021A,7.830766,7.045224,0,NaN,False,True,False,False,False
1880,T86.19,7.830766,7.045224,0,NaN,False,True,False,False,False
1894,E13.29,7.830766,7.045224,0,NaN,False,True,False,False,False
1895,S59.902A,7.830766,7.045224,0,NaN,False,True,False,False,False
1898,S40.021A,7.830766,7.045224,0,NaN,False,True,False,False,False
1899,S11.91XA,7.830766,5.633614,0,NaN,False,True,False,False,False
1900,M10.071,7.830766,5.633614,1,Gout,False,True,False,False,False

# Cluster 2

In [19]:
vol = pd.read_csv('c2_label_positions_AD_ICD10.csv')
upset = pd.read_csv('upset_df_AD_diagnosis_ICDfull_positive.csv')

In [20]:
cluster = pd.merge(vol, upset, left_on="Label", right_on="ICD", how="inner")

In [21]:
drop_col = ['ICD','Unnamed: 0']

In [22]:
cluster = cluster.drop(drop_col, axis=1)

In [23]:
c2 = cluster[(cluster['c2'] == True) & (cluster['c0'] == False) & (cluster['c1'] == False) & (cluster['c3'] == False) & (cluster['c4'] == False)]

In [24]:
c2

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4
188,G20,0.986710,7.208553,0,Parkinson's disease,False,False,True,False,False
310,E10.9,3.042870,40.874069,0,NaN,False,False,True,False,False
311,C61,1.242157,7.214923,0,NaN,False,False,True,False,False
340,R68.12,4.616947,79.051714,0,NaN,False,False,True,False,False
393,I63.30,2.916163,29.614490,0,Cerebral infarction,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...
982,T15.00XA,4.883289,6.960011,0,NaN,False,False,True,False,False
983,S82.53XA,4.687924,5.937729,0,NaN,False,False,True,False,False
984,M25.53,5.103146,6.352281,0,NaN,False,False,True,False,False
985,S61.019A,5.463186,5.762401,0,NaN,False,False,True,False,False
986,I80.10,5.463186,5.762401,0,NaN,False,False,True,False,False

In [25]:
c2_top10 = c2.sort_values(by=['X', 'Y'], ascending=[False, False]).head(10)

In [26]:
c2_top10

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4
985,S61.019A,5.463186,5.762401,0,NaN,False,False,True,False,False
986,I80.10,5.463186,5.762401,0,NaN,False,False,True,False,False
981,D31.00,5.298511,7.411976,0,NaN,False,False,True,False,False
984,M25.53,5.103146,6.352281,0,NaN,False,False,True,False,False
980,K81.2,5.055938,7.999113,0,NaN,False,False,True,False,False
982,T15.00XA,4.883289,6.960011,0,NaN,False,False,True,False,False
899,T31.0,4.733826,15.928653,0,NaN,False,False,True,False,False
983,S82.53XA,4.687924,5.937729,0,NaN,False,False,True,False,False
621,H11.15,4.651818,35.627096,0,NaN,False,False,True,False,False
340,R68.12,4.616947,79.051714,0,NaN,False,False,True,False,False

# Cluster 3

In [27]:
vol = pd.read_csv('c3_label_positions_AD_ICD10.csv')
upset = pd.read_csv('upset_df_AD_diagnosis_ICDfull_positive.csv')

In [28]:
cluster = pd.merge(vol, upset, left_on="Label", right_on="ICD", how="inner")

In [29]:
drop_col = ['ICD','Unnamed: 0']

In [30]:
cluster = cluster.drop(drop_col, axis=1)

In [31]:
c3 = cluster[(cluster['c3'] == True) & (cluster['c0'] == False) & (cluster['c2'] == False) & (cluster['c1'] == False) & (cluster['c4'] == False)]

In [32]:
c3

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4
206,Z85.3,1.164472,7.054906,0,NaN,False,False,False,True,False
223,C50.919,1.463772,9.853278,0,NaN,False,False,False,True,False
346,Z86.59,2.917011,20.226030,0,NaN,False,False,False,True,False
394,I50.21,3.087309,18.581898,1,Heart failure,False,False,False,True,False
420,C43.9,1.720761,5.926852,0,NaN,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
676,Z68.20,5.225072,6.527863,0,NaN,False,False,False,True,False
677,M25.752,6.225263,7.187891,0,NaN,False,False,False,True,False
678,H04.203,5.225072,6.527863,0,NaN,False,False,False,True,False
679,M18.9,4.639918,6.002490,0,NaN,False,False,False,True,False
680,R93.422,5.030640,5.608991,0,NaN,False,False,False,True,False

In [33]:
c3_top10 = c3.sort_values(by=['X', 'Y'], ascending=[False, False]).head(10)

In [34]:
c3_top10

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4
664,T83.518A,6.690067,10.110766,0,NaN,False,False,False,True,False
668,K56.60,6.396977,8.157670,0,NaN,False,False,False,True,False
677,M25.752,6.225263,7.187891,0,NaN,False,False,False,True,False
676,Z68.20,5.225072,6.527863,0,NaN,False,False,False,True,False
678,H04.203,5.225072,6.527863,0,NaN,False,False,False,True,False
665,Z13.21,5.104723,8.709015,0,NaN,False,False,False,True,False
666,Y92.230,5.104723,8.709015,0,NaN,False,False,False,True,False
680,R93.422,5.030640,5.608991,0,NaN,False,False,False,True,False
669,H43.812,4.811632,6.894041,0,NaN,False,False,False,True,False
675,M20.12,4.639918,6.002490,0,NaN,False,False,False,True,False

# Cluster 4

In [35]:
vol = pd.read_csv('c4_label_positions_AD_ICD10.csv')
upset = pd.read_csv('upset_df_AD_diagnosis_ICDfull_positive.csv')

In [36]:
cluster = pd.merge(vol, upset, left_on="Label", right_on="ICD", how="inner")

In [37]:
drop_col = ['ICD','Unnamed: 0']

In [38]:
cluster = cluster.drop(drop_col, axis=1)

In [39]:
c4 = cluster[(cluster['c4'] == True) & (cluster['c0'] == False) & (cluster['c2'] == False) & (cluster['c3'] == False) & (cluster['c1'] == False)]

In [40]:
c4_top10 = c4.sort_values(by=['X', 'Y'], ascending=[False, False]).head(10)

In [41]:
c4_top10

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4
218,T46.0X1A,4.558431,6.670524,0,NaN,False,False,False,False,True
151,J16.8,3.401223,22.130084,0,NaN,False,False,False,False,True
187,M40.29,3.263637,10.326574,0,NaN,False,False,False,False,True
198,D65,3.179560,6.313941,0,NaN,False,False,False,False,True
200,S52.123A,3.053073,5.505647,0,NaN,False,False,False,False,True
172,R13.1,2.946748,12.878372,0,NaN,False,False,False,False,True
181,K56.49,2.773929,10.582035,0,NaN,False,False,False,False,True
177,F23,2.746112,10.865763,0,NaN,False,False,False,False,True
193,E11.01,2.597160,6.486079,1,Type 2 diabetes mellitus,False,False,False,False,True
191,N81.1,2.363019,6.027000,0,NaN,False,False,False,False,True

In [43]:
combined_top10 = pd.concat([c0_top10, c1_top10, c2_top10, c3_top10, c4_top10])

In [44]:
combined_top10

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4
1165,G31.01,3.742869,12.970564,1,Frontotemporal dementia,True,False,False,False,False
35,Z00.6,0.879144,5.925738,0,NaN,True,False,False,False,False
1856,Y92.008,7.830766,8.458123,0,NaN,False,True,False,False,False
1865,Z87.310,7.830766,8.458123,0,NaN,False,True,False,False,False
1874,Z48.22,7.830766,7.045224,0,NaN,False,True,False,False,False
1879,S42.021A,7.830766,7.045224,0,NaN,False,True,False,False,False
1880,T86.19,7.830766,7.045224,0,NaN,False,True,False,False,False
1894,E13.29,7.830766,7.045224,0,NaN,False,True,False,False,False
1895,S59.902A,7.830766,7.045224,0,NaN,False,True,False,False,False
1898,S40.021A,7.830766,7.045224,0,NaN,False,True,False,False,False
1899,S11.91XA,7.830766,5.633614,0,NaN,False,True,False,False,False
1900,M10.071,7.830766,5.633614,1,Gout,False,True,False,False,False
985,S61.019A,5.463186,5.762401,0,NaN,False,False,True,False,False
986,I80.10,5.463186,5.762401,0,NaN,False,False,True,False,False
981,D31.00,5.298511,7.411976,0,NaN,False,False,True,False,False
984,M25.53,5.103146,6.352281,0,NaN,False,False,True,False,False
980,K81.2,5.055938,7.999113,0,NaN,False,False,True,False,False
982,T15.00XA,4.883289,6.960011,0,NaN,False,False,True,False,False
899,T31.0,4.733826,15.928653,0,NaN,False,False,True,False,False
983,S82.53XA,4.687924,5.937729,0,NaN,False,False,True,False,False
621,H11.15,4.651818,35.627096,0,NaN,False,False,True,False,False
340,R68.12,4.616947,79.051714,0,NaN,False,False,True,False,False
664,T83.518A,6.690067,10.110766,0,NaN,False,False,False,True,False
668,K56.60,6.396977,8.157670,0,NaN,False,False,False,True,False
677,M25.752,6.225263,7.187891,0,NaN,False,False,False,True,False
676,Z68.20,5.225072,6.527863,0,NaN,False,False,False,True,False
678,H04.203,5.225072,6.527863,0,NaN,False,False,False,True,False
665,Z13.21,5.104723,8.709015,0,NaN,False,False,False,True,False
666,Y92.230,5.104723,8.709015,0,NaN,False,False,False,True,False
680,R93.422,5.030640,5.608991,0,NaN,False,False,False,True,False
669,H43.812,4.811632,6.894041,0,NaN,False,False,False,True,False
675,M20.12,4.639918,6.002490,0,NaN,False,False,False,True,False
218,T46.0X1A,4.558431,6.670524,0,NaN,False,False,False,False,True
151,J16.8,3.401223,22.130084,0,NaN,False,False,False,False,True
187,M40.29,3.263637,10.326574,0,NaN,False,False,False,False,True
198,D65,3.179560,6.313941,0,NaN,False,False,False,False,True
200,S52.123A,3.053073,5.505647,0,NaN,False,False,False,False,True
172,R13.1,2.946748,12.878372,0,NaN,False,False,False,False,True
181,K56.49,2.773929,10.582035,0,NaN,False,False,False,False,True
177,F23,2.746112,10.865763,0,NaN,False,False,False,False,True
193,E11.01,2.597160,6.486079,1,Type 2 diabetes mellitus,False,False,False,False,True
191,N81.1,2.363019,6.027000,0,NaN,False,False,False,False,True

In [45]:
icd10_mapping = {
    'G31.01': "Pick's disease",
    'Z00.6': 'Encounter for examination for normal comparison and control in clinical research program',
    'Y92.008': 'Other place in house as the place of occurrence of the external cause',
    'Z87.310': 'Personal history of (healed) alcoholism',
    'Z48.22': 'Encounter for aftercare following kidney transplant',
    'S42.021A': 'Fracture of shaft of humerus, right arm, initial encounter',
    'T86.19': 'Other complications of kidney transplant',
    'E13.29': 'Other specified diabetes mellitus with other specified complication',
    'S59.902A': 'Unspecified injury of left forearm, initial encounter',
    'S40.021A': 'Contusion of right shoulder, initial encounter',
    'S11.91XA': 'Unspecified open wound of neck, initial encounter',
    'M10.071': 'Gout due to renal impairment, right ankle and foot',
    'S61.019A': 'Laceration without foreign body of unspecified finger, initial encounter',
    'I80.10': 'Phlebitis and thrombophlebitis of unspecified femoral vein',
    'D31.00': 'Benign neoplasm of cerebral meninges',
    'M25.53': 'Pain in forearm',
    'K81.2': 'Acute cholecystitis',
    'T15.00XA': 'Foreign body in cornea, unspecified eye, initial encounter',
    'T31.0': 'Burn involving less than 10% of body surface',
    'S82.53XA': 'Torus fracture of lower end of unspecified fibula, initial encounter',
    'H11.15': 'Conjunctival hemorrhage',
    'R68.12': 'Facial weakness',
    'T83.518A': 'Other mechanical complication of other genitourinary devices, implants, and grafts, initial encounter',
    'K56.60': 'Unspecified intestinal obstruction',
    'M25.752': 'Stiffness of left hip, not elsewhere classified',
    'Z68.20': 'Body mass index (BMI) 20.0-20.9, adult',
    'H04.203': 'Unspecified epiphora, bilateral',
    'Z13.21': 'Encounter for screening for nutritional disorder',
    'Y92.230': 'Garden or yard in other specified residence as the place of occurrence of the external cause',
    'R93.422': 'Abnormal radiologic findings on diagnostic imaging of left breast',
    'H43.812': 'Vitreous degeneration, left eye',
    'M20.12': 'Hallux valgus (acquired), left foot',
    'T46.0X1A': 'Poisoning by angiotensin-converting-enzyme inhibitors, accidental (unintentional), initial encounter',
    'J16.8': 'Pneumonia due to other specified infectious organisms',
    'M40.29': 'Other kyphosis, multiple sites in spine',
    'D65': 'Disseminated intravascular coagulation [defibrination syndrome]',
    'S52.123A': 'Displaced fracture of neck of right radius, initial encounter for closed fracture',
    'R13.1': 'Dysphagia',
    'K56.49': 'Other impaction of intestine',
    'F23': 'Brief psychotic disorder',
    'E11.01': 'Type 2 diabetes mellitus with hyperosmolarity with coma',
    'N81.1': 'Incomplete uterovaginal prolapse'
}

In [46]:
combined_top10['Disease'] = combined_top10['Label'].map(icd10_mapping)

In [47]:
combined_top10

,Label,X,Y,flag,mapping,c0,c1,c2,c3,c4,Disease
1165,G31.01,3.742869,12.970564,1,Frontotemporal dementia,True,False,False,False,False,Pick's disease
35,Z00.6,0.879144,5.925738,0,NaN,True,False,False,False,False,Encounter for examination for normal compariso...
1856,Y92.008,7.830766,8.458123,0,NaN,False,True,False,False,False,Other place in house as the place of occurrenc...
1865,Z87.310,7.830766,8.458123,0,NaN,False,True,False,False,False,Personal history of (healed) alcoholism
1874,Z48.22,7.830766,7.045224,0,NaN,False,True,False,False,False,Encounter for aftercare following kidney trans...
1879,S42.021A,7.830766,7.045224,0,NaN,False,True,False,False,False,"Fracture of shaft of humerus, right arm, initi..."
1880,T86.19,7.830766,7.045224,0,NaN,False,True,False,False,False,Other complications of kidney transplant
1894,E13.29,7.830766,7.045224,0,NaN,False,True,False,False,False,Other specified diabetes mellitus with other s...
1895,S59.902A,7.830766,7.045224,0,NaN,False,True,False,False,False,"Unspecified injury of left forearm, initial en..."
1898,S40.021A,7.830766,7.045224,0,NaN,False,True,False,False,False,"Contusion of right shoulder, initial encounter"
1899,S11.91XA,7.830766,5.633614,0,NaN,False,True,False,False,False,"Unspecified open wound of neck, initial encounter"
1900,M10.071,7.830766,5.633614,1,Gout,False,True,False,False,False,"Gout due to renal impairment, right ankle and ..."
985,S61.019A,5.463186,5.762401,0,NaN,False,False,True,False,False,Laceration without foreign body of unspecified...
986,I80.10,5.463186,5.762401,0,NaN,False,False,True,False,False,Phlebitis and thrombophlebitis of unspecified ...
981,D31.00,5.298511,7.411976,0,NaN,False,False,True,False,False,Benign neoplasm of cerebral meninges
984,M25.53,5.103146,6.352281,0,NaN,False,False,True,False,False,Pain in forearm
980,K81.2,5.055938,7.999113,0,NaN,False,False,True,False,False,Acute cholecystitis
982,T15.00XA,4.883289,6.960011,0,NaN,False,False,True,False,False,"Foreign body in cornea, unspecified eye, initi..."
899,T31.0,4.733826,15.928653,0,NaN,False,False,True,False,False,Burn involving less than 10% of body surface
983,S82.53XA,4.687924,5.937729,0,NaN,False,False,True,False,False,Torus fracture of lower end of unspecified fib...
621,H11.15,4.651818,35.627096,0,NaN,False,False,True,False,False,Conjunctival hemorrhage
340,R68.12,4.616947,79.051714,0,NaN,False,False,True,False,False,Facial weakness
664,T83.518A,6.690067,10.110766,0,NaN,False,False,False,True,False,Other mechanical complication of other genitou...
668,K56.60,6.396977,8.157670,0,NaN,False,False,False,True,False,Unspecified intestinal obstruction
677,M25.752,6.225263,7.187891,0,NaN,False,False,False,True,False,"Stiffness of left hip, not elsewhere classified"
676,Z68.20,5.225072,6.527863,0,NaN,False,False,False,True,False,"Body mass index (BMI) 20.0-20.9, adult"
678,H04.203,5.225072,6.527863,0,NaN,False,False,False,True,False,"Unspecified epiphora, bilateral"
665,Z13.21,5.104723,8.709015,0,NaN,False,False,False,True,False,Encounter for screening for nutritional disorder
666,Y92.230,5.104723,8.709015,0,NaN,False,False,False,True,False,Garden or yard in other specified residence as...
680,R93.422,5.030640,5.608991,0,NaN,False,False,False,True,False,Abnormal radiologic findings on diagnostic ima...
669,H43.812,4.811632,6.894041,0,NaN,False,False,False,True,False,"Vitreous degeneration, left eye"
675,M20.12,4.639918,6.002490,0,NaN,False,False,False,True,False,"Hallux valgus (acquired), left foot"
218,T46.0X1A,4.558431,6.670524,0,NaN,False,False,False,False,True,Poisoning by angiotensin-converting-enzyme inh...
151,J16.8,3.401223,22.130084,0,NaN,False,False,False,False,True,Pneumonia due to other specified infectious or...
187,M40.29,3.263637,10.326574,0,NaN,False,False,False,False,True,"Other kyphosis, multiple sites in spine"
198,D65,3.179560,6.313941,0,NaN,False,False,False,False,True,Disseminated intravascular coagulation [defibr...
200,S52.123A,3.053073,5.505647,0,NaN,False,False,False,False,True,"Displaced fracture of neck of right radius, in..."
172,R13.1,2.946748,12.878372,0,NaN,False,False,False,False,True,Dysphagia
181,K56.49,2.773929,10.582035,0,NaN,False,False,False,False,True,Other impaction of intestine
177,F23,2.746112,10.865763,0,NaN,False,False,False,False,True,Brief psychotic disorder
193,E11.01,2.597160,6.486079,1,Type 2 diabetes mellitus,False,False,False,False,True,Type 2 diabetes mellitus with hyperosmolarity ...
191,N81.1,2.363019,6.027000,0,NaN,False,False,False,False,True,Incomplete uterovaginal prolapse

In [48]:
combined_top10.to_csv('top10_cluster_specific_disease_positive.csv', index=False)